app = "n8n-ibrahim"
primary_region = 'sgp'

[env]
  DB_TYPE = "postgresdb"
  DB_POSTGRESDB_CONNECTION_URL = "postgresql://neondb_owner:npg_8TkUWnCMFp6b@ep-green-wind-a1pq87wv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
  DB_POSTGRESDB_SSL_CA = "/etc/ssl/certs/ca-certificates.crt"
  N8N_BASIC_AUTH_ACTIVE = "true"
  N8N_BASIC_AUTH_USER = "ibrahimusmani96@gmail.com"
  N8N_BASIC_AUTH_PASSWORD = "Hello@123"
  N8N_HOST = "n8n-ibrahim.fly.dev"
  N8N_PROTOCOL = "https"
  WEBHOOK_URL = "https://n8n-ibrahim.fly.dev/"

[[services]]
  internal_port = 5678
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
app = 'n8n-ibrahim'


[build]

[http_service]
  internal_port = 5678
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
